<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>WireGuardStatusbarHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WireGuardStatusbarHelper</string>
	<key>CFBundleShortVersionString</key>
	<string>1.23</string>
	<key>CFBundleVersion</key>
	<string>1768912357</string>
	<key>Hash</key>
	<string>303e3fef62e57d3b185e15d2fb15ab21</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier WireGuardStatusbar and anchor apple generic and certificate leaf[subject.CN] = Apple Development: greeniamaster@gmail.com (BH5ST54D3P) and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
	<key>SOURCE_HASH</key>
	<string>01596941a263278ba60c08fe4d604fcd</string>
</dict>
</plist>
